/* FONT FACES */
@font-face {
  font-family: MAN-regular;
  font-display: block;
  src: url(./man-font/maneuropecondensed_regular_eot.eot) format("eot"), url(./man-font/maneuropecondensed_regular_woff2.woff2) format("woff2"), url(./man-font/maneuropecondensed_regular_woff.woff) format("woff"), url(./man-font/maneuropecondensed_regular_ttf.ttf) format("truetype"), url(./man-font/maneuropecondensed_regular_svg.svg) format("svg");
  font-weight: 400
}

@font-face {
  font-family: MAN-bold;
  font-display: block;
  src: url(./man-font/maneuropecondensed_bold_eot.eot) format("eot"), url(./man-font/maneuropecondensed_bold_woff2.woff2) format("woff2"), url(./man-font/maneuropecondensed_bold_woff.woff) format("woff"), url(./man-font/maneuropecondensed_bold_ttf.ttf) format("truetype"), url(./man-font/maneuropecondensed_bold_svg.svg) format("svg");
  font-weight: 700
}

@font-face {
  font-family: MAN-light;
  font-display: block;
  src: url(./man-font/maneurope_light_eot.eot) format("eot"), url(./man-font/maneurope_light_woff2.woff2) format("woff2"), url(./man-font/maneurope_light_woff.woff) format("woff"), url(./man-font/maneurope_light_ttf.ttf) format("truetype"), url(./man-font/maneurope_light_svg.svg) format("svg");
  font-weight: 400
}

:root {
  --grey-text: #303c49;
  --accent-red: #d31c1c;
  --accent-yellow: #ffca00;
}


::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--accent-red);
}

::selection {
  color: #fff;
  background: var(--accent-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-rendering: optimizeLegibility; */
  text-rendering: geometricPrecision;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  /* background-color: #101010; */
  /* background-color: #fff; */
}

/* TYPOGRAPHY AND UTILITY CLASSES */
.light-text {
  font-family: 'MAN-light', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.regular-text {
  font-family: 'MAN-regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h1.BOLD {
  font-family: 'MAN-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  color: var(--grey-text);
}

.icon {
  font-size: 2rem;
  text-decoration: none;
  color: var(--grey-text);
  margin: 0 1.5rem;
}

/* utility-classes end */

/* NAVBAR */
nav.navbar {
  height: 10vh;
  max-height: 55px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  width: 200px;
  margin: 0 1rem;
}

nav ul.mobile {
  display: none;
}

nav .mobile-menu {
  background-color: #fff;
  position: absolute;
  height: 100vh;
  top: 0;
  left: -200px;
  transition: all 0.2s ease-out;
  z-index: 999;
}

nav .mobile-menu>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav ul.desktop {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav ul li {
  height: 100%;
  list-style: none;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  font-family: 'MAN-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

nav .nav-link {
  height: 115%;
  transform: skew(-15deg);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  color: var(--grey-text);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-rendering: optimizeLegibility; */
  text-rendering: geometricPrecision;
  padding: 0 5px;
}

nav .nav-link:hover {
  background-color: var(--accent-red);
  color: #fff;
  /* transform: skew(-15deg); */
}

.nav-active {
  background-color: var(--accent-red);
  color: #fff !important;
  border-bottom: 2px solid #fff;
}

nav li {
  height: 100%;
  display: flex;
  align-items: center;
}

/* HERO SECTION */
.hero-section {
  height: 85vh;
  max-height: 490px;
  width: 100%;
  background: linear-gradient(90deg, rgba(13, 13, 13, 1) 0%, rgba(20, 20, 20, 1) 20%, rgba(13, 13, 13, 1) 43%, rgba(20, 20, 20, 1) 71%, rgba(13, 13, 13, 1) 100%);
  /* background: #fff; */
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.2s ease-out;
}

.swiper-image {
  width: 50%;
  background-position: right;
}

.swiper-slide {
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
}

.bike-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  height: 10vh;
  width: 30vw;
  padding: 0 1rem;
  background-color: var(--accent-yellow);
  font-family: 'MAN-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  color: var(--grey-text);
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
}

.readmore {
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NEWS AND EVENTS SECTION */
.news-events {
  height: 700px;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.news-card {
  background-color: #cccccc;
  width: 100%;
  height: 200px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.news-thumbnail {
  height: 100%;
}

.news-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  font-family: 'MAN-bold', sans-serif;
  font-weight: bold;
  font-size: 2.75rem;
  color: var(--grey-text);
}

.news-date {
  background-color: #6f6f6f;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 0.5rem;
}

a.news-readmore {
  width: 200px;
  text-decoration: none;
}

a.news-readmore i {
  background-color: #202020;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;

}

a.news-readmore i:hover {
  background-color: #060606;
  font-size: 3rem;
}

/* BOTTOM SLIDER */
.bottom-slider {
  padding: 40px;
  height: 80%;
  /* background-color: yellow; */
}

/* FOOTER */
.page-footer {
  width: 100%;
  background-color: #060606;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-row-title {
  background-color: #cccccc;
  font-family: 'MAN-bold', sans-serif;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
}

a.footer-link {
  height: 30px;
  text-decoration: none;
  font-family: 'MAN-regular';
  color: #fff;
  padding: 5px;
}
a.footer-link:hover {
  background-color: #202020;

}
a.footer-link::after {
  content: "";
  display: block;
  margin: left;
  background-color: var(--accent-red);
  height: 2px;
  width: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
a.footer-link:hover:after {
  width: 100%;
}




/* Media Queries */

@media screen and (max-width: 1280px) {
  .swiper-image {
    width: 100%;
    background-position: right;
  }

  .swiper-slide {
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
  }

  .bike-name {
    width: 100%;
  }

  .info {
    height: 50px;
    width: 100%;
  }
}

@media (max-width: 880px) {
  nav ul.desktop {
    display: none;
  }

  nav ul.mobile {
    display: block;
  }

  .swiper-image {
    width: 100%;
    background-position: right;
  }

  .swiper-slide {
    /* background-color: greenyellow; */
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
  }

  .bike-name {
    width: 100%;
  }

  .info {
    height: 50px;
    width: 100%;
  }

  .news-card {
    position: relative;
  }

  .news-thumbnail {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .news-info {
    position: absolute;
    color: #fff;
  }

  .news-title {
    font-family: 'MAN-regular';
    font-size: 1.5rem;
    color: #fff;
  }

  .news-date {
    top: 150px;
    position: absolute;
  }

  a.news-readmore {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
  }

  .footer-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 630px) {
  .page-footer {
    flex-direction: column;
  }
}


/* Bike Themes */
.info-cb150 {
  background-color: yellowgreen;
}